.CFUserTextEncoding
.DS_Store
.Trash/*
.Xcode/*
.WHCC
.bash_history
.cups/*
.lesshst
.profile_local
.roescache/*
.ssh/*
.viminfo
Desktop/*
Documents/*
Downloads/*
Library/*
Movies/*
Music/*
Pictures/*
Public/*
Sites/*
